 body{
     background-color:burlywood;
        text-align: center;
  
 }
.img1{
    
    height: 100px;
    width: 100px;
    margin: auto;
    
}
 .img2{
   height: 100px;
    width:100px;
    margin:auto;
   
 }

 .dice1{
     display: inline;
 }
 .dice2{
     display: inline;
 }
 